@import "tailwindcss";

@theme {
    --font-markazi: 'Markazi Text', serif;
    --font-inter: 'Inter', sans-serif;
    --color-qelem-primary:#0B529C;
    --color-qelem-primary-light:#E2EEFA;
    --color-qelem-secondary:#FBA81C;
    --color-qelem-secondary-light:#FDF5E7;
    --color-qelem-white:#FEFEFE;
    --color-qelem-black:#131316;
    --color-qelem-netural-400:#3E3E48;
    --color-qelem-netural-300:#6A6A7B;
}
